
.header {
   background-color: rgba(17, 0, 255, 0.4);
   color: white;
   font-size: 40px;
   padding: 20px;
   text-align: center;
   text-transform: uppercase;
}

img {
   height: 250;
   width: 250;
}

.table-users {
   border: 2px solid #ddd;
   max-width: calc(100% - 20px);
   margin: 0 auto;
   overflow: hidden;
   width: 1800px;
}

table {
   width: 100%;
   
   td, th { 
      color: black;
      border-bottom: 1px solid #ddd;
   }
   
   td {
      text-align: center;
      vertical-align: middle;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      line-height: 1.4;
      text-align: center;
      }
   }
   
   th { 
      background-color: rgba(17, 0, 255, 0.1);
      font-weight: 300;
      height: 10px;
   }
   


@media screen and (max-width: 700px) {   
   table, tr, td { display: block; }
   
   td {

      &:not(:first-child) {
         padding: 4px 20px 4px 230px;
         position: relative;
         text-align: left;

         &:before {
            color: black;
            content: '';
            display: block;
            left: 5px;
            position: absolute;
         }
      }

      &:nth-child(2):before { content: 'ФИО:'; }
      &:nth-child(3):before { content: 'Подразделение:'; }
      &:nth-child(4):before { content: 'Должность:'; }
      &:nth-child(5):before { content: 'Контактная информация:'; }
   }
   
   tr {
      padding: padding 0;
      position: relative;
      &:first-child { display: none; }
   }
}

@media screen and (max-width: 500px) {
   .header {
      background-color: transparent;
      color: black;
      font-size: 35px;
      font-weight: 700;
      padding: 0;
      text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
   }
   
   img {
      border: 3px solid;
      border-color: black;
      height: imageBig;
      margin: 10px 0;
      width: 75%;
   }
   
   td {
      &:first-child {
         border-radius: 20px 20px 0 0;
         position: relative;   
         top: 0;
         width: 100%;
      }
      
      &:not(:first-child) {
         margin: 0;
         padding: 5px 1em;
         width: 100%;
         
         &:before {
            font-size: .8em;
            padding-top: 0.3em;
            position: relative;
         }
      }
      
      &:last-child  { padding-bottom: 1rem !important; }
   }
   
   tr {
      background-color: white !important;
      border: 1px solid lighten(baseColor, 20%);
      border-radius: 10px;
      box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
      margin: 0.5rem 0;
      padding: 0;
   }
   
   .table-users { 
      border: none; 
      box-shadow: none;
      overflow: visible;
   }
}