html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}
  
html {
    height: 100%;
}
  
body {
    display: flex;
    flex-direction: column;
}
  
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
@font-face {
    font-family: "Caveat";
    src: url("../fonts/Caveat-Regular.ttf");
}
  
  @font-face {
    font-family: "BreeSerif";
    src: url("../fonts/BreeSerif-Regular.ttf");
  }
  
  .container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
  }
  
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 140, 0);
    color: #FFF;
    height: 60px;
    padding: 1em;
    position: fixed;
    top: 0;
    padding-top: 10px;
    width: 100vw;
    z-index: 3;
  }
  
  .logo-item {
    font-size: 30px;
    text-decoration: none;
    color: black;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 60px;  
    justify-content: center;
    align-items: center;
  }
  
  
  @media (max-width: 900px) {
    .menu{
      flex-direction: column;
    }
  }
  
  .menu a:hover {
    color: white;
    transition: 0.3s ease-out;
  }
  
  .menu-item {
    font-size: 30px;
    text-decoration: none;
    color: black;
  }
    
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: black;
    background-color: rgb(255, 140, 0);
    z-index: 2;
  }
    
  .menu-button-container {
    display: flex;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;  
  }
    
  #menu-toggle {
    display: none;
  }
    
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px; width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
    
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
    
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
    
  #menu-toggle:checked + .menu-button-container .menu-button::before {
      margin-top: 0px;
      transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
   
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
    
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
    
  #menu-toggle:checked ~ .menu li {
    height: 50px;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
    
  .menu > li {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: rgb(255, 140, 0);
  }
    
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }

  .Page {
    padding-top: 115px;
    background:url("../image/bg2.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .breadcrumb {
    margin-bottom: 50px;
    list-style: none;
    display: flex;
    padding-left: 0px;
  }
  
  .breadcrumb-item>a,
  .breadcrumb-item.active {
    color: #fff;
    display: block;
    background: #7b1fa2;
    text-decoration: none;
    position: relative;
    height: 34px;
    line-height: 34px;
    padding: 0 10px 0 5px;
    text-align: center;
    margin-right: 23px;
    user-select: none;
  }
  
  .breadcrumb-item:first-child>a {
    padding-left: 15px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  
  .breadcrumb-item:last-child>a,
  .breadcrumb-item.active {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-right: 0;
    padding-right: 15px;
  }
  
  .breadcrumb-item:first-child>a::before,
  .breadcrumb-item:last-child>a::after {
    border: none;
  }
  
  .breadcrumb-item>a::before,
  .breadcrumb-item>a::after,
  .breadcrumb-item.active::before {
    content: "";
    position: absolute;
    top: 0;
    border: 0 solid #7b1fa2;
    border-width: 17px 10px;
    width: 0;
    height: 0;
  }
  
  .breadcrumb-item>a::before,
  .breadcrumb-item.active::before {
    left: -20px;
    border-left-color: transparent;
  }
  
  .breadcrumb-item>a::after {
    left: 100%;
    border-color: transparent;
    border-left-color: #7b1fa2;
  }
  
  .breadcrumb-item>a:hover {
    background-color: #6a1b9a;
  }
  
  .breadcrumb-item>a:hover::before {
    border-color: #6a1b9a;
    border-left-color: transparent;
  }
  
  .breadcrumb-item>a:hover::after {
    border-left-color: #6a1b9a;
  }
  
  .breadcrumb-item.active {
    color: #6a1b9a;
    background-color: #f3e5f5;
  }
  
  .breadcrumb-item.active::before {
    border-color: #f3e5f5;
    border-left-color: transparent;
  }
 
  :root {
  
    --brand-color: hsl(46, 100%, 50%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    
    --font-title: "Montserrat", sans-serif;
    --font-text: "Lato", sans-serif;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
 
  .cards h2, p {
    margin: 0;
  }
  
  .cards h2 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white); 
    line-height: 1.1;
    width: 100%;
  }
  
  .cards p {
    font-family: var(--font-text);
    font-size: 1rem;
    line-height: 1.5;
    color: var(--white);
  }
  
  .flow > * + * {
    margin-top: var(--flow-space, 1em);
  }
  
  .cards {
      display: grid;
      grid-template-columns: repeat(2, 600px);
      gap: 50px 50px;
  }
  
  .card {
    display: grid;
    margin: 0 auto;
    place-items: center;
    width: 100%;
    max-width: 440px;
    height: 400px;
    overflow: hidden;
    border-radius: 0.625rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  }
  
  .card > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  .card__background {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
  }
  
  .card__content {
    --flow-space: 0.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
    height: 55%;
    padding: 30px 30px 30px;
    background: linear-gradient(
      180deg,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.3) 10%,
      hsl(0, 0%, 0%) 100%
    );
    width: 100%;
  }
  
  .card__content--container {
    --flow-space: 1.25rem;
  }
  
  .card__title {
    position: relative;
    width: fit-content;
    width: -moz-fit-content; 
  }
  
  .card__title::after {
    content: "";
    position: absolute;
    height: 0.3125rem;
    width: calc(100% + 1.25rem);
    bottom: calc((1.25rem - 0.5rem) * -1);
    left: -1.25rem;
    background-color: var(--brand-color);
  }
  
  .card__button {
    padding: 0.75em 1.6em;
    width: fit-content;
    width: -moz-fit-content; 
    font-variant: small-caps;
    font-weight: bold;
    border-radius: 0.45em;
    border: none;
    background-color: var(--brand-color);
    font-family: var(--font-title);
    font-size: 1.125rem;
    color: var(--black);
    text-decoration: none;
  }
  
  .card__button:focus {
    outline: 2px solid black;
    outline-offset: -5px;
  }
  
  @media (any-hover: hover) and (any-pointer: fine) {
    .card__content {
      transform: translateY(62%);
      transition: transform 500ms ease-out;
      transition-delay: 500ms;
    }
  
    .card__title::after {
      opacity: 0;
      transform: scaleX(0);
      transition: opacity 1000ms ease-in, transform 500ms ease-out;
      transition-delay: 500ms;
      transform-origin: right;
    }
  
    .card__background {
      transition: transform 500ms ease-in;
    }
  
    .card__content--container > :not(.card__title),
    .card__button {
      opacity: 0;
      transition: transform 500ms ease-out, opacity 500ms ease-out;
    }
  
    .card:hover,
    .card:focus-within {
      transform: scale(1.05);
      transition: transform 500ms ease-in;
    }
  
    .card:hover .card__content,
    .card:focus-within .card__content {
      transform: translateY(0);
      transition: transform 500ms ease-in;
    }
  
    .card:focus-within .card__content {
      transition-duration: 0ms;
    }
  
    .card:hover .card__background,
    .card:focus-within .card__background {
      transform: scale(1.3);
    }
  
    .card:hover .card__content--container > :not(.card__title),
    .card:hover .card__button,
    .card:focus-within .card__content--container > :not(.card__title),
    .card:focus-within .card__button {
      opacity: 1;
      transition: opacity 500ms ease-in;
      transition-delay: 1000ms;
    }
  
    .card:hover .card__title::after,
    .card:focus-within .card__title::after {
      opacity: 1;
      transform: scaleX(1);
      transform-origin: left;
      transition: opacity 500ms ease-in, transform 500ms ease-in;
      transition-delay: 500ms;
    }
  }


  .block {
    margin-top: 50px;
    padding-bottom: 50px;
  }
  
  .block a {
    margin-right: 10px;
    margin-left: 9px;
  }

  .footer-container {
    background-color: rgb(255, 140, 0);
    padding-bottom: 4rem;
    padding-top: 10px;
   }
   
   .footer {
     width: 80%;
     height: 40vh;
     color: #FFF;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     margin: 0 auto;
   }
   
   .footer-heading {
     display: flex;
     flex-direction: column;
     margin-right: 4rem;
   }
   
   .footer-heading h2 {
     font-family: Arial, Helvetica, sans-serif;
     margin-bottom: 2rem;
   }
   
   .footer-heading a {
     font-family: Arial, Helvetica, sans-serif;
     color: black;
     text-decoration: none;
     margin-bottom: 1rem;
   }
   
   .footer-heading a:hover {
     color: white;
     transition: 0.3s ease-out;
   }
   
   .social-networks {
     display: flex;
     margin: auto;
   }
   
   .social-networks h2 {
     font-family: Arial, Helvetica, sans-serif;
     color: black;
     margin: auto;
   }
   
   .icon {
     display: block;
     width: 45px;
     height: 45px;
     background-repeat: no-repeat;
     background-position: center;
     background-size: contain;
     margin-left: 5px;
   }
   
   .vk {
     background-image: url("../image/vk_logo.svg");
   }
   
   .odno {
     background-image: url("../image/odno_logo.svg");
   }
   
   .tg {    
     background-image: url("../image/telegram_logo.svg");
   } 